[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/zencoding.vim"]
	path = bundle/zencoding.vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview
[submodule "bundle/vim-erlang"]
	path = bundle/vim-erlang
	url = https://github.com/oscarh/vimerl.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/grayrest/vim-coffee-script.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/ruby-refactor"]
	path = bundle/ruby-refactor
	url = https://github.com/ecomba/vim-ruby-refactoring.git
